[Unit]
Description=autohcxlab

[Service]
Type=simple
ExecStart=/usr/local/bin/autohcxlab
StandardOutput=journal
StandardError=journal
ExecStartPost=/usr/bin/wall -n "autohcxlab has started"
ExecStopPost=/usr/bin/wall -n "autohcxlab has stopped"

[Install]
WantedBy=multi-user.target
